.canvas {
    position: absolute;
}

.input-file {
    position: relative;
    display: inline-block;
	margin: 10px;
};

.input-file input[type=file] {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
};

.input-file span {
    position: relative;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 5px;
	background-color: #403a3a;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
};

.info-buttons {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.image-info-wrapper {
	display: flex;
	align-items: center;
}

.image-info-wrapper p {
    color: white;
    margin: 10px;
};

.scale-button {
	appearance: none;
    background-color: #403a3a;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    height: 40px;
    margin-top: -1px;
	margin: 10px;
};

.save-button {
	appearance: none;
    background-color: #403a3a;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    height: 40px;
    margin-top: -1px;
	margin: 10px;
}


