.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Roboto';
}

.modal-content {
  background-color: #403a3a;
	border: 1px solid #5c5353;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  // z-index: 1001;
}

.modal-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.modal-content label {
  display: block;
  color: #fff;
  font-size: 15px;
}

.modal-content input[type="text"] {
  width: calc(100% - 35px);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content select {
  width: calc(100% - 35px);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-information {
  color: #fff;
  font-size: 15px;
}

.modal-content button {
  appearance: none;
  background-color: #5c5353;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  height: 30px;
  display: inline-block;

  &:hover {
    background-color: #8f8383;
    -webkit-box-shadow: -1px -3px 15px 6px rgba(19, 16, 16, 0.2) inset;
    -moz-box-shadow: -1px -3px 15px 6px rgba(19, 16, 16, 0.2) inset;
    box-shadow: -1px -3px 15px 6px rgba(19, 16, 16, 0.2) inset;
  }
}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  background-color: #5c5353;
  padding: 3px 8px;
  border-radius: 50px;
}

.tooltip-text {
  color: #fff;
  font-size: 10px;
}

.tooltip-wrapper:hover .tooltip-text {
  display: block;
}